MC_SERVER_HOST=aslserver1.aternos.me
MC_SERVER_PORT=38455
MC_USERNAME=pampa
MC_MEMORY=1536M
MC_MIN_MEMORY=512M
FABRIC_LOG_LEVEL=INFO
# Optional, for servers that use a /login command:
# BOT_LOGIN_COMMAND=login YOUR_PASSWORD
